@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
:root {
    --box-bg-color: #333;
    --left-bg-color: rgba(43, 43, 43, 0.7);
    --left-button-hover-color: rgba(253, 253, 253, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(101, 200, 208, 0.3);
    --hover-width: 90%;
    --other-width: 10%;
    --speed: 1000ms;
  }
  

  html, body {
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .Grimm{
    color: #65C8D0;
  }

  .Grimm2{
    color: rgb(101, 200, 208);
  }

.logo{
  position: absolute;
    left: 42%;
    top: 5%;
    background-color: none;
}

  h1 {

    font-size: 6rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: "Satisfy";
  }
  p{
    font-size: 2rem;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 15%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  .screen.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .screen.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  }
  
  .box {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--box-bg-color);
  }
  
  .screen {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .screen.left {
    left:0;
    background: url('img/IMG_20170923_183413.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .screen.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
  }
  
  .screen.right {
    right:0;
    background: url('img/complete.jpg') center center no-repeat ;
    background-size: cover;
    transform: rotate(180);
  }
  
  .screen.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }
  
  .screen.left, .screen.right, .screen.right:before, .screen.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    z-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    z-index: 2;
  }
  
  @media(max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
  
    .button {
      width: 12rem;
    }
  }
  
  @media(max-height: 700px) {
    .button {
      top: 70%;
    }
  }