@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    

}
.Grimm{
    color: #65C8D0;
    font-family: "Satisfy";

}
.Grimm1{
    color: #65C8D0;
    font-family: "Satisfy";
    
    position: static;
}
.Grimm__2{
    color: grey;
    
    position: static;
}
.Grimm__3{
    color: grey;
    
    position: static;
    margin-bottom: auto;
}
.Grimm4{
    color: #65C8D0;
    font-family: "Satisfy";
    
    position: static;
}

.Education{
    padding-left: 20%;
    padding-right: 20%;
    font-weight: normal;
    text-align: justify;
    font-size: 68px;
    font-family: "Prompt";
}
.list{
    list-style: none;

    float: left;
}

.mid{
    text-align: justify;
    padding-top: 2%;
    padding-bottom: 1%;
    
}
.text{
    font-family: "prompt";
    top: 50%;
    right: 80%;
    text-align: justify;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color:grey;
    font-weight: lighter;
    
  
   

}
.bottom{
    margin-top: 22rem;
}

.skills{
        float: right;
}

.About{
    color: #65C8D0;
    text-align: center;
    font-size: 68px;
   margin-bottom: 1rem;
    font-family: "Satisfy";

}

p{
    font-size: 18px;
    text-align: justify;
    top: 50%;
    right:80%;
    color: black;

}


/*
.MySlides{ 

}
/*
.side{
        -ms-flex: 70%; /* IE10
        flex: 30%;
        background-color: black;
        padding: 20px;
}
.first{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    right: 40%;
    top: 30%;
}
 /*
 .mySlides{
    box-shadow: 0px 5px 12px #FFFFFF;
 }
 .side{
 position: absolute;
 width: 100%;
 left: 0%;
 top: 10%;
 
 background: #000000;
 }
 .first{
 position: absolute;
 width: 50%;
 left: 40%;
 bottom: 22%;
 background-color: black;
 font-family: Prata;
 font-style: normal;
 font-weight: normal;
 font-size: 40px;
 line-height: 68px;
 
 color: #FFFFFF;
 }
*/







.content{
    padding: 16px;
}

li,a,button{
    font-family: "prompt", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    /* push text to far edges*/
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    
}
#navbar {
    overflow: hidden;
    background-color: #333;
  }

.logo{
    font-size: 40px;
    font-family: "Satisfy", sans-serif;
    order: 3;
    margin-left: auto;
}

nav{
    order:2;
    
}
.navbar{
    list-style: none;
}

.navbar li a.active {
    color:rgb(101, 200, 208) ;
  }

.navbar li{
    display: inline-block;
    padding: 0px  20px;
}

.navbar li:nth-child(1){
    display: inline-block;
    padding: 0px  20px 0 0;
}

.navbar li a{
    transition: all 0.3 ease 0s;
}
.navbar li a:hover{
    color: rgb(151, 200, 208);
}

.cta{
    order: 0;
    margin-right: auto;
}

button{
    /*
    margin-left: 15px;
    padding: 10px 25px ;
    background-color: rgba(101,200,208,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
    */
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(101,200,208,0.7);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
 
  
  .footer-distributed{
      background: black;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      font: bold 16px sans-serif;
      text-align: left;
      padding: 50px 60px 40px;
      overflow: hidden;
  }
  
  section {
    width: 100%;
    display: inline-block;
    background: white;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    
  }
  
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      float: left;
      background-color: black;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 45px 'Satisfy', cursive;
      margin: 0 0 10px;
  }
  
  .footer-distributed h3 span{
      color:  rgb(101, 200, 208);
      font-family:"Satisfy" ;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 0 0 10px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #8f9296;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer social icons */
  
  .footer-distributed .footer-icons{
      margin-top: 40px;
  }
  
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  black;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      float: right;
      background-color: black;
  }
  
  .footer-distributed .footer-right p{
      display: inline-block;
      vertical-align: top;
      margin: 15px 42px 0 0;
      color: #ffffff;
  }
  
  /* The contact form */
  
  .footer-distributed form{
      display: inline-block;
  }
  
  .footer-distributed form input,
  .footer-distributed form textarea{
      display: block;
      border-radius: 3px;
      box-sizing: border-box;
      background-color:  #000000;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
  
      font: inherit;
      font-size: 14px;
      font-weight: normal;
      color:  #d1d2d2;
  
      width: 400px;
      padding: 18px;
  }
  
  .footer-distributed ::-webkit-input-placeholder {
      color:  #5c666b;
  }
  
  .footer-distributed ::-moz-placeholder {
      color:  #5c666b;
      opacity: 1;
  }
  
  .footer-distributed :-ms-input-placeholder{
      color:  #5c666b;
  }
  
  
  .footer-distributed form input{
      height: 55px;
      margin-bottom: 15px;
  }
  
  .footer-distributed form textarea{
      height: 100px;
      margin-bottom: 20px;
  }
  
  .footer-distributed form button{
      border-radius: 16px;
      background-color:  #65C8D0;
      color: #ffffff;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
      border: 0;
      padding: 15px 50px;
      font-weight: bold;
      float: right;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 1000px) {
  
      .footer-distributed {
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-company-name{
          font-size: 12px;
      }
  
      .footer-distributed form input,
      .footer-distributed form textarea{
          width: 250px;
      }
  
      .footer-distributed form button{
          padding: 10px 35px;
      }
  
  }
  
  @media (max-width: 800px) {
  
      .footer-distributed{
          padding: 30px;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-right{
          float: none;
          max-width: 300px;
          margin: 0 auto;
      }
  
      .footer-distributed .footer-left{
          margin-bottom: 40px;
      }
  
      .footer-distributed form{
          margin-top: 30px;
      }
  
      .footer-distributed form{
          display: block;
      }
  
      .footer-distributed form button{
          float: none;
      }
  }
  